.fixedHeaderContainer {
  min-height: 70px;
  padding: 15px 0;
  header {

    .logo {
      display: none;
    }
    .logo-mobile {
      display: block;
    }

    @media only screen and (min-width: 1024px) {
      .logo{display: block;}
      .logo-mobile{ display: none;}

    }

    img {
      margin-right: 5px;
    }
    h2 {
      font-size: 16px;
      font-weight: 800;
    }

    a {
      @extend .font-display;
    }
  }
  a {
    height: 40px;
  }

  ul.nav-right{
    position: absolute;
    right: 0;


    float: right;

    display: flex;
    flex-flow: row nowrap;
    margin: 0 -10px;
    padding: 0;
    background: none;
    width: auto;
    bottom: 3px;

    li {
      flex: 1 1 auto;
      text-align: center;
      white-space: nowrap;
      margin: 0 5px;
      padding-left: 10px;
      a {
        height: 35px;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    ul.nav-right {

      top: 3.5px;

    }
  }
}

.navSearchWrapper {
  position: relative;
  top: auto;
  left: auto;
  &:before {
    left: 18px;
    border: 3px solid #222;
  }
  &:after {
    left: 27px;
    background: #222;
  }

  a {

  }
}

input#search_input_react {
  background-color: #fff;
  border: solid 1px #979797;
  //width: 150px;
  line-height: 24px;
  color: #222;

  &::placeholder {
    color: #222;
  }
  &:focus {
    color: #222;
    //width: 200px;
    &::placeholder {
      color: #eee;
    }
  }

  @media only screen and (min-width: 1024px) {
    line-height: 31px;
  }
}

@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper input#search_input_react {
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 20px;

    background-color: #fff;
    border: solid 1px #979797;

    color: #393939;
    outline: none;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.2s ease;
    width: 120px;

    &:focus{
      background-color: #fff;
      border: solid 1px #979797;
      color: #393939;
    }
  }
  .reactNavSearchWrapper .aa-dropdown-menu{
    border: 1px solid #2bbb9b;
    border-radius: 5px;
    position: absolute !important;
    width: 80vw !important;
    //height: 51vh !important;
    max-height: 100vh !important;
  }
}

#languages-menu {
  color: #fff;
  span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
  }

  .langTranslateImg{
    display: inline-block;
    line-height: 22px;
    height: 22px;
    background: #fff;
    border-radius: 7px;
    padding: 2px 0 2px 4px;
  }
  .currentLanguage{
    display: none;
  }

  @media only screen and (min-width: 1024px) {
    .langTranslateImg{
      display: none;
    }
    .currentLanguage{
      display: inline-block;
      &:before {
        display: inline-block;
        position: relative;
        top: 2px;
        right: 4px;
        content: '';
        width: 15px;
        height: 15px;
        background: url("https://sqlgate-manual-images.s3.ap-northeast-2.amazonaws.com/g_translate_white.svg") no-repeat center center;
      }
    }
  }
}

#languages-dropdown.visible {
  display: block;
  width: auto;

}

ul#languages-dropdown-items {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.91);
  border: 1px solid #9da9b1;
  border-radius: 7px;
  //overflow: hidden;
  position: absolute;
  left: 0;

  @media only screen and (min-width: 736px) {
    left: -20px;
  }

  top: 0;
  padding: 0;
  min-width: 150px;

  $popover-arrow-size: 7px;
  $popover-arrow-offset: 5px;

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 35px;

    width: 0;
    height: 0;
    border-left: $popover-arrow-offset solid transparent;
    border-right: $popover-arrow-offset solid transparent;
  }

  &:before {
    top: -($popover-arrow-size + 1px);
    border-bottom: $popover-arrow-size solid #9da9b1;
  }

  &:after {
    top: (-$popover-arrow-size + 1px);
    border-bottom: $popover-arrow-size solid rgba(0, 0, 0, 0.91);
    z-index: 1;
  }

  li {
    padding: 0 10px;
    list-style: none;
    a {
      //padding: 5px 10px;
      line-height: 40px;
      height: 40px;
      font-weight: 600;
      color: #9da9b1;
      display: block;
      text-align: left;
      @extend .font-display;

      &:hover {
        color: #29fdce;
        background-color: transparent;
      }
    }
  }
}

.navigationSlider {
  height: 40px;

  .slidingNav {
    position: relative;

    .nav-site {
      background: transparent;
      margin: 0;
      li {
        a {
          color: #fff;
        }
      }
      &:before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 1px;
        background: #fff;
        margin-top: 12px;
      }
    }
  }

  .slidingNav ul li {
    a {
      height: 40px;
      font-size: 14px;
      font-weight: 600;
      color: #dddddd;
      letter-spacing: 0.5px;
      padding: 0 15px;

      &:hover {
        color: #29fdce;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .navigationSlider {

    .slidingNav {
      .nav-site {

      }
    }

  }
}

