@import url("https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500,600,700,800|Lato:300,300i,400,400i,700,700i,800,800i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import "inc/grid";
@import "inc/header";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Lato', 'Gothic A1', sans-serif;
  word-break: keep-all;
  color: #181c1f;
}

.font-display {
  font-family: 'Montserrat', 'Gothic A1', sans-serif;
}

body {
  background: #fff;
}

.onPageNav > ul {
  border-left: 1px solid #979797;
  padding: 0 0 0 15px;
  a {
    color: #8b9da8;
  }
}

/// header

nav.toc .toggleNav {

  .navGroup h3 {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #333333;
  }

  ul {

    background-color: #f9f9f9;
    padding: 18px;

    li a {
      color: #646f79;
      font-size: 14px;
      &.navItemActive {
        font-weight: bold;
        color: #2bbb9b;
      }
    }
  }

}

.mainContainer {
  background: #fff;
  padding: 0;
  .wrapper {
    ol li, ul li {
      margin: 0 0 3px 0;
    }
    .post {
      .postHeader {
        h1 {
          font-weight: 900;
          color: #333333;
          font-size: 30px;
        }
      }
      article {
        font-size: 16px;
        color: #333333;

        h2 {
          font-weight: bold;
          color: #333333;
          font-size: 20px;
          &:not(:first-child) {
            margin-top: 3em;
          }
        }
        h3 {
          font-weight: 400;
          color: #2bbb9b;
          font-size: 18px;
          &:not(:first-child) {
            margin-top: 2em;
          }
        }

        img {
          // transition: all 0.5s;
          display: block;
          margin: 14px 0;
          //margin: 1em -20px;
          //width: calc(100% + 40px);
          //max-width: calc(100% + 40px);
          //

          &:hover {
            //margin: 2em 0;
            //transform: scale(1.1);
          }

          &[alt="support-database"]{
            margin: 10px 0;
            max-width: 600px;
          }
          &[alt="지원하는 데이터베이스"]{
            margin: 10px 0;
            max-width: 600px;
          }
        }

        blockquote{
          border-radius: 5px;
          background-color: #f5f7f8;
          // border: solid 0.5px rgba(100, 111, 121, 0.3);
          padding: 5px;

          p{
            color: #267160;
            //background: #fff;
            display: block;
            margin: 0;
            padding: 5px 10px;
            border-radius: 2px
          }

          img[alt="support-database"]{
            max-width: 600px;
            margin: 5px 0 5px 0;
          }
          img[alt="지원하는 데이터베이스"]{
            max-width: 600px;
            margin: 5px 0 5px 0;
          }
        }

        td img {
          margin: 0 auto;
        }

        .img-caption {
          display: block;
          text-align: center;
          font-size: 0.8em;
          color: #888;
        }

        table {
          display: table;
          width: 100%;
          thead {
            text-align: center;
          }
        }
        p {
          padding: 0;
          margin: 0.5em 0;
          line-height: 1.4;
        }
        a.anchor {
          top: -92px;
        }
        strong {
          background-color: #e8f9f2;
          padding: 2px;
        }
      }
    }
    blockquote {
      background-color: #e8f9f2;
      border: 0 none;
      font-style: italic;
      font-size: 15px;
      padding: 7px 30px 7px 15px;
      color: #333333;
    }
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3em;
  }
}

.mainContainer .wrapper p, .blockElement p, .mainContainer .wrapper ul li, .mainContainer .wrapper ol li {
  max-width: 100%;
}

.main-visual-container {
  background-color: #f8f9fb;
  border-bottom: solid 1px #dbe3e9;
  padding: 38px 0;

  article {
    font-size: 16px;
    padding-top: 1.5em;
    h1 {
      @extend .font-display;
      font-size: 2.5em;
      line-height: 1em;
      font-weight: 900;
      letter-spacing: 1px;
      color: #333333;
    }
    p {
      font-size: 0.9em !important;
      line-height: 1.5;
      color: #9da9b1;
    }

    .feature-card-row {
      padding-top: 7vw;
      margin-left: -0.75rem !important;
    }

    .feature-card {
      display: block;
      border-radius: 7px;
      background-color: #ffffff;
      border: solid 1px #2bbb9b;
      padding: 5px 15px 5px 62px;
      position: relative;
      &.icon-01 {
        background: url('/img/assets/quick-start@2x.png') no-repeat 15px center #fff;
        background-size: 30px;
      }

      &.icon-02 {
        background: url('/img/assets/run-query@2x.png') no-repeat 15px center #fff;
        background-size: 30px;
      }

      &:hover {
        box-shadow: 0 3px 10px 0 rgba(23, 43, 79, 0.1), 0 3px 10px 0 rgba(23, 43, 79, 0.1);
        background-color: #ffffff;
        border: solid 1px #2bbb9b;

        text-decoration: none !important;
      }

      .card-title,
      .card-more {
        display: block;
        margin: 10px 0;
        &:hover {
          text-decoration: none;
        }
      }

      .card-title {
        font-size: 18px;
        font-weight: bold;
        color: #2d2d2d;
      }
      .card-more {
        position: absolute;
        right: 15px;
        top: 8px;
        width: 15px;
        height: 15px;
        background: url('/img/assets/arrow-forward@2x.png') no-repeat center center;
        background-size: 15px;
      }
    }

  }

  .wrapper {
    height: 30vw;
    max-height: 420px;
    overflow: visible;

    @include media-medium-and-down{
      height: auto;
      min-height: 30vw;
    }

    background: url('/img/assets/asset-42@2x.png') no-repeat 100% center;
    background-size: contain;

    .row {
      margin: 0;
    }
  }

  @include media-medium-only {
    article {
      font-size: 18px;
      padding-top: 0.5em;
      h1 {
        line-height: 1em;
      }
    }
  }

  @include media-large-and-up {
    article {
      font-size: 20px;
      padding-top: 1.5em;
      h1 {
        line-height: 1.5em;
      }
    }
  }

}

.features-container {
  padding: 10px 0 30px 0;

  h2 {
    font-size: 24px;
    font-weight: 900;
    color: #333333;
    margin: 30px 0 10px 0;
  }

  .feature-card {
    display: block;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #dbe3e9;
    padding: 15px 25px 15px 100px;

    &.icon-01 {
      background: url('/img/assets/using-the-advanced-sql-editor@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }

    &.icon-02 {
      background: url('/img/assets/run-and-compile-procedures@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }
    &.icon-03 {
      background: url('/img/assets/work-on-object-explorer@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }
    &.icon-04 {
      background: url('/img/assets/create-a-report@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }
    &.icon-05 {
      background: url('/img/assets/set-options@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }
    &.icon-06 {
      background: url('/img/assets/e-rdesign@2x.png') no-repeat 25px 25px;
      background-size: 60px;
    }

    &:hover {
      box-shadow: 0 3px 10px 0 rgba(23, 43, 79, 0.1), 0 3px 10px 0 rgba(23, 43, 79, 0.1);
      background-color: #ffffff;
      border: solid 1px #2bbb9b;

      text-decoration: none !important;
    }

    .card-title,
    .card-desc,
    .card-more {
      display: block;
      margin: 10px 0;
      &:hover {
        text-decoration: none;
      }
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      color: #2d2d2d;
    }
    .card-desc {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: #646f79;
      overflow: hidden;
    }
    .card-more {
      font-size: 14px;
      font-weight: 900;
      line-height: 1.5;
      color: #2bbb9b;
    }
  }
}

.docMainWrapper{
  .mainContainer{
    padding: 48px 0;
  }
}

footer.nav-footer {
  background-color: #000000;
  padding: 10px 0;

  .sitemap{
    margin: 0 auto;
  }

  b {
    color: inherit;
    font-weight: 800;
  }

  .wrapper{
    text-align: center;
    vertical-align: middle;
    line-height: 19px;
    font-size: 12px;
    div {
      color: #ffffff;
    }
  }
  img{
    vertical-align: middle;
    margin:0 20px;
  }
}

/* your custom css */
@media only screen and (min-width: 736px) {
  .navPusher {
    padding-top: 70px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {

  .doc.separateOnPageNav .docsNavContainer {
    flex: 0 0 240px;
  }

  .onPageNav {
    flex: 0 0 200px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
  .wrapper, .separateOnPageNav.doc .wrapper, .separateOnPageNav .headerWrapper.wrapper {
    max-width: 1280px;
    padding: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper, .separateOnPageNav.doc .wrapper, .separateOnPageNav .headerWrapper.wrapper {
    max-width: 1280px;
    padding: 0;
  }

  .doc.separateOnPageNav.sideNavVisible .navPusher {
    .mainContainer .wrapper .post article {
      img {
        //margin: 1em -20px;
        //width: calc(100% + 80px);
        //max-width: calc(100% + 80px);
      }

      td img {
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (min-width: 601px) {
  .wrapper, .separateOnPageNav.doc .wrapper, .separateOnPageNav .headerWrapper.wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .wrapper, .separateOnPageNav.doc .wrapper, .separateOnPageNav .headerWrapper.wrapper {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper, .separateOnPageNav.doc .wrapper, .separateOnPageNav .headerWrapper.wrapper {
    width: 100%;
  }
}