.fixedHeaderContainer {
  min-height: 70px;
  padding: 15px 0;
  header {
    img{
      margin-right: 5px;
    }
    h2{
      font-size: 16px;
      font-weight: 800;
    }

    a {
      @extend .font-display;
    }
  }
  a{
    height: 40px;
  }

  ul.nav-right{
    position: absolute;
    right: 0;
    top: 3.5px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -10px;
    padding: 0;
    background: none;
    width: auto;

    li{
      flex: 1 1 auto;
      text-align: center;
      white-space: nowrap;
      margin: 0 10px;
      padding-left: 10px;
      a{
        height: 35px;
        font-size: 13px;
      }
    }
  }
}

.navSearchWrapper{
  &:before{
    left: 18px;
    border: 3px solid #222;
  }
  &:after{
    left: 27px;
    background: #222;
  }

  a {

  }
}
input#search_input_react{
  background-color: #fff;
  border: solid 1px #979797;
  //width: 150px;
  line-height: 31px;
  color: #222;

  &::placeholder{
    color: #222;
  }
  &:focus{
    color: #222;
    //width: 200px;
    &::placeholder{
      color: #eee;
    }
  }
}

ul#languages-dropdown-items{
  margin-top: 5px;
  background-color: #808080;
  border: 1px solid #9da9b1;
  border-radius: 7px;
  //overflow: hidden;
  position: relative;
padding: 0;

  transform: translateX(-25%);

  $popover-arrow-size: 7px;
  $popover-arrow-offset: 5px;

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 53px;

    width: 0;
    height: 0;
    border-left: $popover-arrow-offset solid transparent;
    border-right: $popover-arrow-offset solid transparent;
  }

  &:before {
    top: -($popover-arrow-size + 1px);
    border-bottom: $popover-arrow-size solid #9da9b1;
  }

  &:after {
    top: (-$popover-arrow-size + 1px);
    border-bottom: $popover-arrow-size solid #808080;
    z-index: 1;
  }

  li{
    padding: 0;
    list-style: none;
    a{
      //padding: 5px 10px;
      line-height: 40px;
      height: 40px;
      font-weight: 500;
      display: block;
      text-align: center;
      &:hover{
        color: #29fdce;
        background-color: transparent;
      }
    }
  }
}

@media only screen and (min-width: 736px){
  .navigationSlider{
    //width: 100%;
    // margin-left: 10px;
    height: 40px;

    .slidingNav{
      .nav-site{
        &:before{
          content: '';
          display: inline-block;
          height: 16px;
          width: 1px;
          background: #fff;
          margin-top: 12px;
        }
      }
    }
    .slidingNav ul li{
      a{
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        color: #dddddd;
        letter-spacing: 0.5px;
        padding: 0 15px;

        &:hover{
          color: #29fdce;
        }
      }
    }
  }
}
